
.home_main-container {
    width: 80%;
    margin: auto;
  }
  
.card_container {
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 40px;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .home_main-container {
    width: 100%;
  }

  .card_container {
    background-color: white;
    padding: 20px;
  }
  
  .card_container a {
    width: 100%;
  }
}