/* ----------------------------------------
                HEADER DETAILS
---------------------------------------- */

.details_container {
    width: 80%;
    margin: auto;
    height: 100vh;
}

.header_details {
    display: flex;
    justify-content: space-between;
}

.header_details h2{
    font-size: 36px;
}

.header_details p{
    font-size: 18px;
}

.header_details__profil {
    display: flex;
}

.header_details__profil img {
    height: 64px;
    border-radius: 50%;
}

.host_name {
    width: 60%;
    text-align: center;
}

/* ----------------------------------------
                MID DETAILS
---------------------------------------- */

.mid_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid_details__tag{
    display: flex;
    padding-top: 20px;
}

.tag_details {
    width: 115px;
    height: 25px;
    background-color: #FF6060;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}

/* ----------------------------------------
                LOW DETAILS
---------------------------------------- */

.low_details{
    padding-top: 50px;
    display: flex;
}

/* ----------------------------------------
                CAROUSEL
---------------------------------------- */
.carousel_container{
    position: relative;
}

.carousel_container button {
    border: none;
    background: none;
}

.carousel_container .previous{
    position: absolute;
    top: 40%;
    left: 0;
}

.carousel_container .next{
    position: absolute;
    top: 40%;
    right: 0;
}

.carousel_container button img{
    height: 75px;

}

.carousel_container img {
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.compteur_carousel{
    position: absolute;
    left: 50%;
    bottom: 20px;
    color: white;
    font-size: 24px;
}

/* ----------------------------------------
                RESPONSIVE
---------------------------------------- */

@media (max-width: 933px) {
    /* ----------------------------------------
                CAROUSEL
    ---------------------------------------- */

    .compteur_carousel{
        display: none;
    }

    .carousel_container img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .carousel_container button img{
        height: 25px; 
    }

    /* ----------------------------------------
                HEADER DETAILS
    ---------------------------------------- */

    .details_container {
        width: 100%;
        padding: 0 20px;
        height: auto;
    }

    .header_details {
        flex-direction: column;
    }

    .header_details_right{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 25px;
    }

    .header_details__profil {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* ----------------------------------------
                LOW DETAILS
    ---------------------------------------- */

    .low_details{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .tab_container{
        width: 100%;
    }
  }